<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") -%>

  <body>
    <!-- locals is the key word to get the data -->

    <a href="/contact">contact</a> <a href="/download">download</a><br>

    <h1>Hello from EJS!</h1>
    <h2>Hello there, <%= locals.user %>
    </h2>
    <p>language: <%= locals.language %>
    </p>
    <img src="<%= locals.image %>" alt="<%= locals.user %>">
  </body>

</html>